html {
    background-color: lightblue;
}

body{
    width: 1000px; 
    height: 900px;
    border: 2px solid silver;
    margin: 0 auto;
    background-color: lightslategray;
}

#headerDiv{
    font-size: 35px;
    text-align: center;
}

#wordBox{
    display: grid;
    grid-template-columns: repeat(10, 60px);
    grid-template-rows: repeat(10, 60px);
    width: 600px; 
    height: 600px; 
    margin: 0 auto; 
    grid-template-areas:
    "r1c1 r1c2 r1c3 r1c4 r1c5 r1c6 r1c7 r1c8 r1c9 r1c10"
    "r2c1 r2c2 r2c3 r2c4 r2c5 r2c6 r2c7 r2c8 r2c9 r2c10"
    "r3c1 r3c2 r3c3 r3c4 r3c5 r3c6 r3c7 r3c8 r3c9 r3c10"
    "r4c1 r4c2 r4c3 r4c4 r4c5 r4c6 r4c7 r4c8 r4c9 r4c10"
    "r5c1 r5c2 r5c3 r5c4 r5c5 r5c6 r5c7 r5c8 r5c9 r5c10"
    "r6c1 r6c2 r6c3 r6c4 r6c5 r6c6 r6c7 r6c8 r6c9 r6c10"
    "r7c1 r7c2 r7c3 r7c4 r7c5 r7c6 r7c7 r7c8 r7c9 r7c10"
    "r8c1 r8c2 r8c3 r8c4 r8c5 r8c6 r8c7 r8c8 r8c9 r8c10"
    "r9c1 r9c2 r9c3 r9c4 r9c5 r9c6 r9c7 r9c8 r9c9 r9c10"
    "r10c1 r10c2 r10c3 r10c4 r10c5 r10c6 r10c7 r10c8 r10c9 r10c10";
}

.letterBox{
    width: 60px; 
    height: 60px; 
    border: 2px solid black; 
    background-color: white; 
    font-size: 35px; 
    text-align: center; 

}

.letterBox:hover{
    background: rgb(240, 240, 129); 
  
}

#buttons{
    margin-top: 25px; 
}


button{
    font-size: 28px; 
    margin-left: 30%;

}

#wordsToFind{
    font-size: 40px; 
    position: absolute; 
    margin-left: 2%; 
    text-align: center; 
    display: grid; 
    grid-template-columns: 130px;
    grid-template-rows: repeat(30px, 10);

}

#wordsToFindContainer{
    position: relative; 
}


